# SPDX-FileCopyrightText: 2023 - 2024 Benjamin Grande M. S. <ben.grande.b@gmail.com>
#
# SPDX-License-Identifier: GPL-3.0-or-later

root = true

[*]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
end_of_line = lf

[{.gitmodules,**/git/**/config,**/git/**/config.d/*,**/git/**/sample/*}]
indent_style = tab
indent_size = 8

[*.{md,toml,json}]
indent_size = 2

[*.{yaml,yml}]
indent_size = 2
max_line_length = 120

[*.{sls,top,jinja}]
max_line_length = 160

[*.py]
indent_size = 4
max_line_length = 79

[{*.{sh,bash,ksh,zsh,lessfilter,xinitrc,Xinitrc,xsession,Xsession,xsessionrc,Xsessionrc,xprofile,Xprofile},**/.config/{sh,bash,ksh,zsh}/**,**/git/shell/**,**/qubes-bind-dirs.d/**,**/lib-qubes-bind-dirs.d/**,**/rc.local.d/**,**/dom0/files/autostartart-scripts/**,**/git/template/hooks/**,**/git/files/client/git-core/**}]
indent_size = 2
## Impossible to be sure via file extension if it is a shell file.
# /bin/.*
# /rpc/.*
# /network-hooks\.d/.*
# /qubes-firewall\.d/.*
