# SPDX-FileCopyrightText: 2022 unman <unman@thirdeyesecurity.com>
# SPDX-FileCopyrightText: 2023 Benjamin Grande M. S. <ben.grande.b@gmail.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[Desktop Entry]
Type=Application
Exec=/usr/bin/setup-sys-wireguard
Icon=qubes-manager
Terminal=false
Name=Setup sys-wireguard
GenericName=Setup sys-wireguard
StartupNotify=false
Categories=Settings;X-XFCE-SettingsDialog
