# SPDX-FileCopyrightText: 2023 - 2024 Benjamin Grande M. S. <ben.grande.b@gmail.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

# Values for the parameter "remountsecure"
# 0: disable remount secure
# 1: remount with nodev and nosuid
# 2: remount with nodev, nosuid and noexec for most mount points excluding /home
# 3: remount with nodev, nosuid, noexec for all mount points including /home
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX remountsecure=3"
