# ~/.netrc

## SPDX-FileCopyrightText: 2023 - 2025 Benjamin Grande M. S. <ben.grande.b@gmail.com>
##
## SPDX-License-Identifier: AGPL-3.0-or-later

##### EDIT THIS BLOCK #####
machine "imap.gmail.com"
  login "john-doe@mail.example"
  password "secret123"
machine "pop.gmail.com"
  login "john-doe@mail.example"
  password "secret123"

# vim: ft=netrc
