# SPDX-FileCopyrightText: 2023 - 2024 Benjamin Grande M. S. <ben.grande.b@gmail.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

## Sample backup profile
---
include:
  - dev
  - vault
  - sys-git
  - sys-ssh-agent
exclude:
  - "@tag:skip-backup"
  - "@type:TemplateVM"

compression: true
passphrase_text: my-password

destination_vm: backup-ssh
destination_path: ssh backup 'cat | tee -- /dir/qubes-backup-$(date +%Y-%m-%d-%H-%M-%S) >/dev/null'

## $ qvm-backup-find-last backup-ssh /dir/ 'ssh backup'
## $ qvm-backup-restore --verify-only -d backup-ssh \
##     "ssh backup cat /dir/qubes-backup-file"

# vim: ft=yaml
