# SPDX-FileCopyrightText: 2024 Benjamin Grande M. S. <ben.grande.b@gmail.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=Dynamically write repository definitions for use of apt-cacher-ng
After=qubes-misc-post.service
After=qubes-sysinit.service
## Run before Qrexec call (Salt, user on terminal, automatic update check)
## tries to update the package index.
Before=qubes-qrexec-agent.service
Before=qubes-update-check.service

[Service]
Type=oneshot
ExecStart=/usr/bin/apt-cacher-ng-repo

[Install]
WantedBy=multi-user.target
