# SPDX-FileCopyrightText: 2023 Qusal contributors
#
# SPDX-License-Identifier: GPL-3.0-or-later

qubes.ConnectTCP  +22  {{ sls_path }}  @default  allow target={{ sls_path }}-minion
## vim:ft=qrexecpolicy
