# SPDX-FileCopyrightText: 2023 Benjamin Grande M. S. <ben.grande.b@gmail.com>
#
# SPDX-License-Identifier: GPL-3.0-or-later

qubes.ConnectTCP  +22  {{ sls_path }}  @default  allow target={{ sls_path }}-minion
## vim:ft=qrexecpolicy
