# SPDX-FileCopyrightText: 2023 - 2024 Benjamin Grande M. S. <ben.grande.b@gmail.com
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=Forward Syncthing connection over Qrexec
After=qubes-sysinit.service
Before=qubes-qrexec-agent.service
ConditionPathExists=/var/run/qubes-service/syncthing-client

[Socket]
ListenStream=127.0.0.1:22001
BindToDevice=lo
Accept=true

[Install]
WantedBy=multi-user.target
