{#
SPDX-FileCopyrightText: 2023 Qusal contributors

SPDX-License-Identifier: GPL-3.0-or-later
#}

{% set version = salt['pillar.get']('qvm:debian:version', '12') -%}
{% set repo = salt['pillar.get']('qvm:debian:repo', 'qubes-templates-itl') -%}
{% set template = 'debian-' ~ version -%}
{% set template_clean = 'debian' -%}
