## SPDX-FileCopyrightText: 2024 Benjamin Grande M. S. <ben.grande.b@gmail.com>
##
## SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=Bitcoin P2P over Qrexec
ConditionPathExists=/var/run/qubes-service/bitcoin-client
After=qubes-sysinit.service
Requires=bitcoin-rpc-qrexec.socket

[Service]
ExecStart=qrexec-client-vm @default qubes.ConnectTCP+8333
StandardInput=socket
StandardOutput=inherit
