# SPDX-FileCopyrightText: 2022 unman <unman@thirdeyesecurity.com>
#
# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=Forward connection to SSH over Qrexec

[Service]
ExecStart=/usr/bin/qrexec-client-vm -- @default qusal.Sshfs
StandardInput=socket
StandardOutput=inherit
