# SPDX-FileCopyrightText: 2022 unman <unman@thirdeyesecurity.com>
#
# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=Forward connection to SSH over Qrexec
ConditionPathExists=/var/run/qubes-service/qubes-sshfs

[Socket]
ListenStream=127.0.0.1:840
BindToDevice=lo
Accept=true

[Install]
WantedBy=multi-user.target
