{%- import "templates/debian.jinja" as template_base -%}
{% set version = template_base.version -%}
{% set repo = template_base.repo -%}
{% set template = template_base.template ~ '-minimal' -%}
{% set template_clean = template_base.template_clean ~ '-minimal' -%}
