{#
SPDX-FileCopyrightText: 2023 Benjamin Grande M. S. <ben.grande.b@gmail.com>

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% set whonix_version = salt['pillar.get']('qvm:whonix:version', '17') -%}
{% set whonix_repo = salt['pillar.get']('qvm:whonix:repo', 'qubes-templates-community') -%}
{% set whonix_workstation_template = 'whonix-workstation-' ~ whonix_version -%}
{% set whonix_gateway_template = 'whonix-gateway-' ~ whonix_version -%}
{% set whonix_workstation_clean_template = 'whonix-workstation' -%}
{% set whonix_gateway_clean_template = 'whonix-gateway' -%}
